
/* Tambahkan CSS untuk tag <img> yang berada didalam <footer>*/
footer img{
    width: 125px;
  }
  
  /* Tambahkan CSS untuk tag <p> yang berada didalam <footer> */
  footer p {
    color:#b3aeb5;
    font-size: 12px;
  }
  
  /* Tambahkan CSS untuk tag <footer> */
  footer {
    padding-top: 30px;
  }
  